<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span jhiTranslate="gatewayApp.boxItem.detail.title">Item</span> {{item.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.boxItem.name">Name</span></dt>
                <dd>
                    <span>{{item.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.category">Category</span></dt>
                <dd>
                    <span>{{item.category}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.description">Description</span></dt>
                <dd>
                    <span>{{item.description}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.manufactor">Manufactor</span></dt>
                <dd>
                    <span>{{item.manufactor}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
