<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boxItem">
            <h2><span jhiTranslate="gatewayApp.boxItem.detail.title">Box Item</span> {{boxItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.boxItem.toRepair">To Repair</span></dt>
                <dd>
                    <span>{{boxItem.toRepair}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.comment">Comment</span></dt>
                <dd>
                    <span>{{boxItem.comment}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.box">Box</span></dt>
                <dd>
                    <div *ngIf="boxItem.box">
                        <a [routerLink]="['/box', boxItem.box?.id, 'view']">{{boxItem.box?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxItem.item">Item</span></dt>
                <dd>
                    <div *ngIf="boxItem.item">
                        <a [routerLink]="['/item', boxItem.item?.id, 'view']">{{boxItem.item?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/box-item', boxItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
