<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialList">
            <h2><span jhiTranslate="gatewayApp.boxMaterialList.detail.title">Material List</span> {{materialList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.boxMaterialList.name">Name</span></dt>
                <dd>
                    <span>{{materialList.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxMaterialList.eventStart">Event Start</span></dt>
                <dd>
                    <span>{{materialList.eventStart}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxMaterialList.eventEnd">Event End</span></dt>
                <dd>
                    <span>{{materialList.eventEnd}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxMaterialList.location">Location</span></dt>
                <dd>
                    <span>{{materialList.location}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.boxMaterialList.open">Open</span></dt>
                <dd>
                    <span>{{materialList.open}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-list', materialList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
