<div class="row">
    <div class="col-md-3">
        <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="finder.title">Finder</h1>

        <div class="alert alert-success" *ngIf="qrResultString">
            <span jhiTranslate="finder.messages.scannedID"
                  [translateValues]="{id: qrResultString}">Scanned ID: {{qrResultString}} </span>
        </div>

        <div class="alert alert-warning" *ngIf="!qrResultString">
            <span jhiTranslate="finder.messages.noIDSelected">No ID selected </span>
        </div>

    </div>

</div>
